<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="false"
        android:description="@string/module_description"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".LyricUiSettingsActivity"
            android:exported="true"
            android:label="@string/lyric_ui_settings_title"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>
    </application>
</manifest>
